<template lang="html">
  <div id="app" class="index">
    <div class="card-box">
    <h4 class="m-t-0">Customers
      <span class="pull-right">
        <router-link to="/customer/create" class="btn btn-sm btn-success"><i class="mdi mdi-plus"></i>New Customer</router-link>
      </span>
    </h4>
    <div class="table-responsive">
        <table class="table table-hover mails m-0 table table-actions-bar">
            <thead>
                <tr>
                    <th>Supplier #</th>
                    <th>Supplier Number</th>
                    <th>Supplier Breed</th>
                    <th>Supplier Phone</th>
                    <th>Supplier Email</th>
                    <th>Supplier Address</th>
                </tr>
            </thead>

            <tbody>
                <tr>

                    <td>
                        text
                    </td>


                    <td>
                        <a href="#" class="text-muted">text</a>
                    </td>

                    <td>
                        text
                    </td>
                    <td>
                        <b><a href="" class="text-dark"><b>text</b></a> </b>
                    </td>

                    <td>
                      text
                    </td>
                    <td>
                      text
                    </td>

                </tr>


            </tbody>
        </table>
      </div>
          <span class="pull-right">

          </span>
</div>
  </div>
</template>
<script>
export default {
  name: "app",
  data: function data() {
    return {

    }
  }
}
</script>
<style>
</style>
