<template lang="html">
  <div id="app" class="index">
    <div class="card-box">
    <h4 class="m-t-0">Suppliers
      <span class="pull-right">
        <router-link to="/supplier/create" class="btn btn-sm btn-success"><i class="mdi mdi-plus"></i>New Production</router-link>
      </span>
    </h4>
    <div class="table-responsive">
        <table class="table table-hover mails m-0 table table-actions-bar">
            <thead>
                <tr>
                    <th>Milk #</th>
                    <th>Milking Shift</th>
                    <th>Dairy Number</th>
                    <th>Milk QTY</th>
                    <th>Production Date</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="models in model.data">

                    <td>
                        {{models.id}}
                    </td>
                    <td>
                        {{models.milking_shift_id}}
                    </td>

                    <td>
                        <a href="#" class="text-muted">{{models.dairy_id}}</a>
                    </td>

                    <td>
                        {{models.milk_qty}}
                    </td>
                    <td>
                        {{models.created_at}}
                    </td>
                </tr>


            </tbody>
        </table>
      </div>
          <span class="pull-right">

          </span>
</div>
  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
export default {

      data(){

        return {

          model:{}
        }
      },

      created:function()
      {
        this.index()
      },
      methods:{
        updateResource(data){
        this.milks = data
      },
        index(){
            var milk=this

            axios.get('/api/v1/milk')
                .then(function(response){
                    Vue.set(milk.$data,'model',response.data.model)
                })
        }

      }
}
</script>
<style>
</style>
