<template lang="html">
  <div id="app" class="index">
    <div class="card-box">
    <h4 class="m-t-0">Suppliers
      <span class="pull-right">
        <router-link to="/supplier/create" class="btn btn-sm btn-success"><i class="mdi mdi-plus"></i>New Supplier</router-link>
      </span>
    </h4>
    <div class="table-responsive">
        <table class="table table-hover mails m-0 table table-actions-bar">
            <thead>
                <tr>
                    <th>Supplier #</th>
                    <th>Company Name</th>
                    <th>Number</th>
                    <th>Phone</th>
                    <th>Company Email</th>
                    <th>Company Address</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="models in model.data">

                    <td>
                        {{models.id}}
                    </td>


                    <td>
                        <a href="#" class="text-muted">{{models.company}}</a>
                    </td>

                    <td>
                        {{models.supplier_number}}
                    </td>
                    <td>
                        <b><b>{{models.phone}}</b></b>
                    </td>
                    <td>
                      {{models.email}}
                    </td>
                    <td>
                      {{models.address}}
                    </td>
                </tr>


            </tbody>
        </table>
      </div>
          <span class="pull-right">

          </span>
</div>
  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
export default {

      data(){

        return {

          model:{}
        }
      },

      created:function()
      {
        this.index()
      },
      methods:{
        updateResource(data){
        this.dairies = data
      },
        index(){
            var dairy=this

            axios.get('/api/v1/supplier')
                .then(function(response){
                    Vue.set(dairy.$data,'model',response.data.model)
                })
        }

      }
}
</script>
<style>
</style>
