<template lang="html">
  <div class="" id="app">
    <div class="col-sm-12">
			<div class="card-box widget-inline">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="widget-inline-box text-center">
							<h3 class="m-t-10"><i class="text-primary mdi mdi-access-point-network"></i> <b data-plugin="counterup">8954</b></h3>
							<p class="text-muted">Lifetime total sales</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="widget-inline-box text-center">
							<h3 class="m-t-10"><i class="text-custom mdi mdi-airplay"></i> <b data-plugin="counterup">7841</b></h3>
							<p class="text-muted">Income amounts</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="widget-inline-box text-center">
							<h3 class="m-t-10"><i class="text-info mdi mdi-black-mesa"></i> <b data-plugin="counterup">6521</b></h3>
							<p class="text-muted">Total users</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="widget-inline-box text-center b-0">
							<h3 class="m-t-10"><i class="text-danger mdi mdi-cellphone-link"></i> <b data-plugin="counterup">325</b></h3>
							<p class="text-muted">Total visits</p>
						</div>
					</div>

				</div>
			</div>
		</div>
    <h4 class="header-title">In Nutshell</h4>
    <div class="row">
    <div class="col-lg-6">
        <div class="m-b-20">
            <h5>Latest Sales</h5>
            <p class="text-muted font-13 m-b-20">
                  Here are your latest sales
            </p>

            <table class="table m-0">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sale Item</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="m-b-20">
            <h5>Latest Supply</h5>
            <p class="text-muted font-13 m-b-20">
                Here are your latest supply.
            </p>

            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      
    }
  }
}
</script>

<style lang="css">
</style>
