<template lang="html">
<div class="" id="app">
  <!--left navigation start-->
  <aside class="sidebar-navigation">
      <div class="scrollbar-wrapper">
          <div>
        <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm">
            <i class="mdi mdi-close"></i>
        </button>

<!-- Left Menu Start -->
<ul class="metisMenu nav" id="side-menu">
  <li><router-link to="/"><i class="fa fa-dash"></i> Dashboard </router-link></li>

      <li><router-link to="/supply"><span class="label label-custom pull-right">11</span> <i class="ti-truck"></i>Milk Supply </router-link></li>
      <li class="">
            <a href="javascript: void(0);" aria-expanded="false"><i class="ti-share"></i> Production <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav collapse" aria-expanded="false" style="height: 0px;">
                    <li class=""><a href="javascript: void(0);" aria-expanded="false">Milk <span class="fa arrow"></span></a>
                        <ul class="nav-third-level nav collapse" aria-expanded="false" style="height: 0px;">
                            <li><router-link to="/milk">Production</router-link></li>
                            <li><router-link to="/milk/create">Add new</router-link></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false"><i class="ti-paint-bucket"></i> Dairies <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><router-link to="/dairy">All Dairies</router-link></li>
                    <li><router-link to="/dairy/create">Add New Dairy</router-link></li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false"><i class="fa fa-money"></i> Sales <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><router-link to="/sale">Sales</router-link></li>
                    <li><router-link to="/sale/create">New Sale</router-link></li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false"><i class="fa fa-user"></i> Suppliers <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><router-link to="/supplier">Suppliers</router-link></li>
                    <li><router-link to="/supplier/create">Add New SUpplier</router-link></li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false"><i class="fa fa-users"></i> Customers <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><router-link to="/customer">Customers</router-link></li>
                    <li><router-link to="/customer/create">Add New Customer</router-link></li>
                </ul>
            </li>
            <li><router-link to="#"><i class="fa fa-info-circle"></i> Help </router-link></li>
        </ul>
          </div>
      </div><!--Scrollbar wrapper-->
    </aside>
  <!--left navigation end-->

  <!-- START PAGE CONTENT -->
  <div id="page-right-content">

      <div class="container">
          <router-view></router-view>
      </div>
      <!-- end container -->

      <div class="footer">
          <div class="pull-right hidden-xs">
              Project Completed <strong class="text-custom">39%</strong>.
          </div>
          <div>
              <strong>Farm Insights</strong> - Copyright &copy; 2017
          </div>
      </div> <!-- end footer -->

  </div>
</div>
  <!-- End #page-right-content -->
</template>
<script type="text/javascript">
  export default {
    components: {

    }
  }
</script>
<style media="screen">
  #page-right-content{
    min-height: 100%;
  }
</style>
