<template lang="html">
  <div class="" id="app">
    <div class="m-t-30">
    <ul class="nav nav-tabs tabs-bordered">
        <li class="active">
            <a href="#home-b1" data-toggle="tab" aria-expanded="true">
                SUpplies
            </a>
        </li>
        <li class="">
            <a href="#profile-b1" data-toggle="tab" aria-expanded="false">
                <i class="glyphicon glyphicon-plus-sign"></i> New Supply
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home-b1">
            <div class="row">
                <div class="col-md-4">
                    <!-- Personal-Information -->
                    <div class="panel panel-default panel-fill">
                        <div class="panel-heading">
                            <h3 class="panel-title">Suppliers</h3>
                        </div>
                        <div class="panel-body">
                            <div class="m-b-20">
                                <strong>Full Name</strong>
                                <br>
                                <p class="text-muted">Johnathan Deo</p>
                            </div>
                            <div class="m-b-20">
                                <strong>Mobile</strong>
                                <br>
                                <p class="text-muted">(123) 123 1234</p>
                            </div>
                            <div class="m-b-20">
                                <strong>Email</strong>
                                <br>
                                <p class="text-muted">johnath@domain.com</p>
                            </div>
                            <div class="about-info-p m-b-0">
                                <strong>Location</strong>
                                <br>
                                <p class="text-muted">USA</p>
                            </div>
                        </div>
                    </div>
                    <!-- Personal-Information -->

                    <!-- Social -->
                    <div class="panel panel-default panel-fill">
                        <div class="panel-heading">
                            <h3 class="panel-title">Social</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="social-links list-inline m-b-0">
                                <li>
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Social -->
                </div>


                <div class="col-md-8">
                    <!-- Personal-Information -->
                    <div class="panel panel-default panel-fill">
                        <div class="panel-heading">
                            <h3 class="panel-title">Supply</h3>
                        </div>
                        <div class="panel-body">
                          <div class="col-lg-12">
                                        <div class="m-b-20">
                                            <p class="text-muted font-13 m-b-20">
                                                Create responsive tables by wrapping any .
                                            </p>

                                            <div class="table-responsive">
                                                <table class="table m-0">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Supplier Name</th>
                                                            <th>Supply QTY</th>
                                                            <th>Supply Total </th>
                                                            <th>Supply Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>KCC</td>
                                                            <td>234</td>
                                                            <td>89322</td>
                                                            <td>04/30/2017</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Brook</td>
                                                            <td>230</td>
                                                            <td>823322</td>
                                                            <td>04/12/2017</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                        </div>
                    </div>
                    <!-- Personal-Information -->

                </div>

            </div>
        </div>
        <div class="tab-pane" id="profile-b1">
            <!-- Personal-Information -->
            <div class="panel panel-default panel-fill">
                <div class="panel-heading">
                    <h3 class="panel-title">New Supply</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                      <h4 class="header-title">Supplier Details</h4>
                        <div class="row">
                          <div class="col-sm-4">
                              <div class="form-group">
                              <label for="Email">Supplier</label>
                              <select type="email" id="Email" class="form-control">
                                <option value="">--Select Supplier--</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Supply Date</label>
                             <input type="date" class="form-control">
                           </div>
                         </div>
                         <div class="col-sm-4">
                           <div class="form-group">
                             <label>Due Date</label>
                              <input type="date" class="form-control">
                            </div>
                          </div>
                          </div>
                          <h4 class="header-title">Supply Items</h4>
                          <p class="text-muted font-13 m-b-20">
                                <strong>Note</strong> Enter every field.
                          </p>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label for="Username">Username</label>
                                  <input type="text"  id="Username" class="form-control">
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label for="Username">Username</label>
                                  <input type="text"  id="Username" class="form-control">
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label for="Username">Username</label>
                                  <input type="text"  id="Username" class="form-control">
                              </div>
                            </div>
                          </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" placeholder="6 - 15 Characters" id="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="RePassword">Re-Password</label>
                            <input type="password" placeholder="6 - 15 Characters" id="RePassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="AboutMe">About Me</label>
                            <textarea style="height: 125px" id="AboutMe" class="form-control">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</textarea>
                        </div>
                        <button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button>
                    </form>

                </div>
            </div>
            <!-- Personal-Information -->
        </div>
    </div>
</div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
