<template lang="html">
  <div class="" id="app">


    <div class="row">



      <div class="col-md-8">
          <!-- Personal-Information -->
          <div class="panel panel-default panel-fill">
              <div class="panel-heading">
                  <h3 class="panel-title">Create New Dairy</h3>
              </div>
              <div class="panel-body">

                <form @submit.prevent="save">
                  <fieldset class="form-group">
                    <label>Dairy Number</label>
                    <input type="text" class="form-control" name="number" placeholder="Enter dairy number" v-model="form.number">
                    <small class="text-muted">This corresponds the number on ear-tag</small>
                  </fieldset>
                  <fieldset class="form-group">
                <div class="form-group"><label>Breed</label>
                    <select class="form-control" v-model="form.breed_id">
                      <option>Select</option>
                      <option  v-for="breed in option.breeds" :value="breed.id">
                          {{ breed.name }}
                      </option>
                    </select></div>
                </fieldset>
                  <fieldset class="form-group">
                    <label for="exampleInputEmail1">Dairy DoB</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Enter Dairy DoB" v-model="form.dob">
                    <small class="text-muted">this should be the same as one on the ear-tag.</small>
                  </fieldset>
                  <div class="checkbox checkbox-primary checkbox-single m-r-15">
                      <input id="status-checkbox" type="checkbox" name="status" v-model="form.status">
                      <label for="status-checkbox">Status</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Save Dairy</button>
                </form>
              </div>
          </div>
          <!-- Personal-Information -->

      </div>
      <div class="col-md-4">
          <!-- Personal-Information -->
          <div class="panel panel-default panel-fill">
              <div class="panel-heading">
                  <h3 class="panel-title">Dairy Breeds</h3>
              </div>
              <div class="panel-body">
                <div class="well">
                  <ul class="list-unstyled" v-for="breed in option.breeds">
                    <li>{{ breed.name }}</li>
                    </ul>
                </div>
              </div>
          </div>
          <!-- Personal-Information -->

          <!-- Social -->
          <div class="panel panel-default panel-fill">
              <div class="panel-heading">
                  <h3 class="panel-title">New Breed</h3>
              </div>
              <div class="panel-body">
                  <form>
                     <div class="form-group">
                       <label for=""></label>
                       <input type="text" class="form-control" id="" placeholder="">
                       <p class="help-block">Help text here.</p>
                     </div>
                  </form>
              </div>
          </div>
          <!-- Social -->
      </div>
  </div>

    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import vueSelect from 'vue-select'
export default {

  data(){
      return {
        form: {
          items: []
        },
        initialize: '/api/v1/dairy/create',
        option: {
          breeds: []
        },
        redirect: '/dairy',
        store: '/api/v1/dairy',
        method: 'post'
      }
  },beforeMount() {
      if(this.$route.meta.mode === 'edit') {
          this.title = 'Edit'
          this.initialize = '/api/v1/dairy/' + this.$route.params.id + '/edit'
          this.store = '/api/v1/dairy/' + this.$route.params.id
          this.method = 'put'
      }
      this.fetchData()
  },
  watch: {
      '$route': 'fetchData'
  },
  methods:{
    fetchData() {
        var vm = this
        axios.get(this.initialize)
            .then(function(response) {
                Vue.set(vm.$data, 'form', response.data.form)
                Vue.set(vm.$data, 'option', response.data.option)
            })
            .catch(function(error) {
                console.log(error)
            })
    },
    form(){
        var dairy=this
        var inputData=dairy.store

        axios.post('api/v1/dairy',inputData)
            .then(function(response){
              console.log('success')
            })
    },
    save() {
        var vm = this
        axios[this.method](this.store, this.form)
            .then(function(response) {
                if(response.data.saved) {
                    vm.$router.push(vm.redirect)
                }
            })
            .catch(function(error) {
                Vue.set(vm.$data, 'errors', error.response.data)
            })
    }
  }

}
</script>

<style lang="css">
</style>
