<template lang="html">
  <div id="app" class="index">
    <div class="card-box">
    <h4 class="m-t-0">Dairy
      <span class="pull-right">
        <router-link to="/dairy/create" class="btn btn-sm btn-success"><i class="mdi mdi-plus"></i>New Dairy</router-link>
      </span>
    </h4>
    <div class="table-responsive">
        <table class="table table-hover mails m-0 table table-actions-bar">
            <thead>
                <tr>
                    <th>Dairy #</th>
                    <th>Dairy Number</th>
                    <th>Dairy Breed</th>
                    <th>Dairy Status</th>
                    <th>Dairy DoB</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="models in model.data">

                    <td>
                        {{models.id}}
                    </td>


                    <td>
                        <a href="#" class="text-muted">{{models.number}}</a>
                    </td>

                    <td>
                        {{ models.breed_id }}
                    </td>
                    <td>
                        <b><a href="" class="text-dark"><b>{{models.status}}</b></a> </b>
                    </td>

                    <td>
                      {{ models.dob }}
                    </td>

                </tr>


            </tbody>
        </table>
      </div>
          <span class="pull-right">
          </span>
</div>
  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios'
export default {

      data(){

        return {

          model:{},
          selected:{},
          dairies:[],
          resource_url: 'api/v1/dairy'
        }
      },

      created:function()
      {
        this.index()
      },
      methods:{
        updateResource(data){
        this.dairies = data
      },
        index(){
            var dairy=this

            axios.get('/api/v1/dairy')
                .then(function(response){
                    Vue.set(dairy.$data,'model',response.data.model)
                })
        }

      }
}
</script>

<style lang="css">
</style>
